@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
/* font-family: "Alata", sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* font-family: "Josefin Sans", sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container {
  position: relative;
  background-image: url('../src/assets/desktop/image-hero.jpg');
  background-size: cover;
  @media (max-width: 768px) {
    background-image: url('../src/assets/mobile/image-hero.jpg');
  }
  background-repeat: no-repeat;
}

ul li {
  text-transform: uppercase;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
